@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
/* custom styles */
body {
    background-color: #f2f2f2;
}

.container {
    background-color: #fff;
    padding: 10px;
}